html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main{
  max-width:80vw;
  display:grid;
  grid-template-columns: repeat(8, [col-] 1fr); /*8 columns*/
  grid-template-rows:auto;
  margin:auto;
  gap:20px; /*gutter*/
  border:1px solid #000;
  padding:20px;
}

header.primary{
  background: pink;
  grid-column: 1 / 9;
  grid-row: 1 / 2;
}

#content{
  grid-column: 1 / 9;
  grid-row: 2 / 3;
  display:grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

footer.primary{
  background: pink;
  grid-column: 1 / 9;
  grid-row: 3 / 4;
}

#blog{
  background: rgba(0, 0, 0, 0.6);
  grid-column: 1 / 6;
}

aside{
  background: pink;
  grid-column: 6 / 9;
}

