html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
  text-align: center;
  background-image: url("images/pawsBonesOptimized.jpg");
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 1.5em;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

#container {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: lavenderblush;
	margin-top: 10px;
	border: 2px solid dark slategray;
  margin-bottom:2rem;
}

#content {
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background:lavenderblush;
	margin-top: 10px;
	border: 2px solid darkslategray;
  margin-bottom:2rem;
}

.card{
    margin-bottom:2rem;
  }

.card-body {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: lavenderblush;
}

#header h1 { 
  text-align: center;
  color: lavenderblush;
  text-shadow: 2px 2px #000000;
  padding: 6em 2em;
  width: 800px;
  height: 240px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.carousel-inner {
  max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: lavenderblush;
	margin-top: 10px;
	border: 2px solid dark slategray;
  margin-bottom:2rem;
}


footer.container{
  background: lavenderblush;
}

  
  /* Media Queries for breakpoints*/

  


  
  